html, body {
  height: 100%;
  width: 100%;
}
html {color: white}
header {background-color: #CD5C5C;}
footer {background-color: #E9967A;}
main {background-color: pink;}
body {background-color: #FA8072;}
table {background-color: #CD5C5C;}
table {border-color: red}

#WIEN {background-color: #CD5C5C;}

.menu {
  list-style: none;
  display: inline block;
  padding: 15px 40px;
}
.menu li
{
	list-style: none;
	display: inline-block;
	padding: 15px 40px;
}
.menu a
{
	text-decoration: none;
	color: rgb(12,37,37);
	font-size: 2.5em;
}
.menu a:hover
{
	color: rgb(20,57,219);
	font-size: 2.6em;
}

/*footer*/
footer
{
	width: 100%;
	background-color: lightgreen;
	text-align: center;
}
footer p
{
	margin: 0;
	padding: 17px;
}
body 
{
	background-color: darkpurple;
}
h1
{
	text-align: center;
}
m1
{
  text-align: center;
}
.link a
{
	text-decoration: none;
	color:rgb(12,37,37);
	font-size: 0.9em;
}

.link a:hover
{
	color:rgb(20,57,219);
	font-size:1em;
}

.form-group
{
	padding:10px;
	width:280px;
	margin:auto;
	text-align:left;
}

.form-group label
{
	display:block;
	padding-bottom; 5px;
}

.form-group label.gender{display:inline;}

.text-center{text-align:center;}
